<div class="category">
    <div class="item_category">
      <img src="../../assets/image/hanger.svg" alt="" />
      <span>Clothing & Shoes</span>
    </div>
    <div class="item_category">
      <img src="../../assets/image/cinema.svg" alt="" />
      <span>Entertainment</span>
    </div>
    <div class="item_category">
      <img src="../../assets/image/concert.svg" alt="" />
      <span>Music</span>
    </div>
    <div class="item_category">
      <img src="../../assets/image/fitness.svg" alt="" />
      <span>Sport & Lifestyle</span>
    </div>
    <div class="item_category">
      <img src="../../assets/image/pets.svg" alt="" />
      <span>Pets</span>
    </div>
    <div class="item_category">
      <img src="../../assets/image/fitness.svg" alt="" />
      <span>Kitchen Accessories</span>
    </div>
    <div class="item_category">
      <img src="../../assets/image/concert.svg" alt="" />
      <span>Travel Equipment</span>
    </div>
    <div class="item_category">
      <img src="../../assets/image/pets.svg" alt="" />
      <span>Growing & Garden</span>
    </div>
    <div class="item_category">
      <img src="../../assets/image/concert.svg" alt="" />
      <span>Electrical Tools</span>
    </div>
    <div class="item_category">
      <img src="../../assets/image/fitness.svg" alt="" />
      <span>Mother Care</span>
    </div>
    <div class="item_category">
      <img src="../../assets/image/concert.svg" alt="" />
      <span>Toys & Entertainment</span>
    </div>
    <div class="item_category">
      <img src="../../assets/image/fitness.svg" alt="" />
      <span>Vintage</span>
    </div>
  </div>