  <div class="detail">
    <div class="product-card">
        <div class="image-container">
          <div class="cover-image product-image">
            <img [src]="productDetail.image" alt=""/>
        </div>
          <div class="more-image-container">
            <div class="more-image product-image">
                <img [src]="productDetail.image" alt=""/>
            </div>
            <div class="more-image product-image">
                <img [src]="productDetail.image" alt=""/>
            </div>
            <div class="more-image product-image">
                <img [src]="productDetail.image" alt=""/>
            </div>
          </div>
        </div>
        <div class="product-info">
          <a href="#" class="free-shipping">              {{productDetail.name}}
        </a>
          <h3 class="product-name">Razer Kraken Kitty Edt Gamming Headset Quartz</h3>
          <p class="regular-price"></p>
          <p class="discount-price">{{productDetail.price}}$</p>
          <p class="offer-info">The offer is valid until April 3 or as long as stock losts!</p>
          
          <div class="stock">
            <div class="stock-status"></div>
            <p class="stock-info">50+ pcs. in stock.</p>
          </div>
         
        </div>
      </div>
      
  </div>