<div class="container_menu">
  <div class="container_menu-top">
    <img src="../../assets/image/filter-variant.svg" alt="" />
    <span>Departments</span>
  </div>
  <div class="container_menu-list">
    <div class="sidebar">
      <div class="nav_list">
        <div class="nav_item">
          <div class="nav_item-img">
            <img src="../../assets/image/chevron-right.svg" alt="" />
          </div>
          <div class="nav_item-patterns">
            <a href="#">
              <h3 class="links_name">All Categories</h3>
            </a>
            <span class="tooltip">Ecommerce patterns</span>
          </div>
        </div>
        <div class="nav_item">
          <div class="nav_item-img">
            <img src="../../assets/image/chevron-down.svg" alt="" />
          </div>
          <div class="nav_item-patterns">
            <a href="#">
              <h3 class="links_name">Electronics</h3>
            </a>
          </div>
        </div>
        <div class="nav_item icon_down-top">
          <div class="nav_item-img">
            <img src="../../assets/image/chevron-down.svg" alt="" />
          </div>
          <div class="nav_item-patterns">
            <a href="#" class="icon-down">
              <h3 class="links_name">All Categories</h3>
            </a>
            <span class="tooltip mg-10">Cell Phone Accessories</span>
            <span class="tooltip mg-10">Cell Phone Gatgets</span>
            <span class="tooltip mg-10">Applications</span>
            <span class="tooltip mg-10">Smart Watches</span>
            <span class="tooltip mg-10">Ecommerce patterns</span>
            <a href="#" class="icon-down mg-10 btn btn_grey width-80">
              <h3 class="links_name">Show more</h3>
              <i class="fa-solid fa-angle-down"></i>
            </a>
          </div>
        </div>
        <div class="nav_item">
          <div class="nav_item-img">
            <img src="../../assets/image/chevron-right.svg" alt="" />
          </div>
          <div class="nav_item-patterns">
            <a href="#">
              <h3 class="links_name">Electronics</h3>
            </a>
          </div>
        </div>
        <div class="nav_item">
          <div class="nav_item-img">
            <img src="../../assets/image/chevron-right.svg" alt="" />
          </div>
          <div class="nav_item-patterns">
            <a href="#">
              <h3 class="links_name">All Categories</h3>
            </a>
            <span class="tooltip">Ecommerce patterns</span>
          </div>
        </div>
        <div class="nav_item">
          <div class="nav_item-img">
            <img src="../../assets/image/chevron-right.svg" alt="" />
          </div>
          <div class="nav_item-patterns">
            <a href="#">
              <h3 class="links_name">Consumer Electroinics</h3>
            </a>
          </div>
        </div>
        <div class="nav_item">
          <div class="nav_item-img">
            <img src="../../assets/image/chevron-right.svg" alt="" />
          </div>
          <div class="nav_item-patterns">
            <a href="#">
              <h3 class="links_name">Home & Garden</h3>
            </a>
          </div>
        </div>
        <div class="nav_item">
          <div class="nav_item-img">
            <img src="../../assets/image/chevron-right.svg" alt="" />
          </div>
          <div class="nav_item-patterns">
            <a href="#">
              <h3 class="links_name">Collectibles</h3>
            </a>
          </div>
        </div>
        <div class="nav_item width_not-icon">
          <a href="#" class="btn btn_grey">
            <h3 class="links_name">Expand</h3>
          </a>
        </div>
        <div class="nav_item btn btn_shadow1 mg-40">
          <div class="nav_item-patterns">
            <a href="#">
              <h3 class="links_name">Collapsed filters</h3>
            </a>
          </div>
          <div class="nav_item-img">
            <img src="../../assets/image/chevron-down.svg" alt="" />
          </div>
        </div>

        <div class="nav_item icon_down-top accordion_item">
          <div class="nav_item-patterns">
            <a href="#">
              <h3 class="links_name">Expanded Filters</h3>
            </a>
            <div class="display-flex mg-10">
              <input type="checkbox" name="" id="" class="checkbox" />
              <span>Recommended</span>
            </div>
            <div class="display-flex mg-10">
              <input type="checkbox" name="" id="" class="checkbox" />
              <span>Recently Added</span>
            </div>
            <div class="display-flex mg-10">
              <input type="checkbox" name="" id="" class="checkbox" />
              <span>Expiring Soon</span>
            </div>
            <div class="display-flex mg-10">
              <input type="checkbox" name="" id="" class="checkbox" />
              <span>Most Rated</span>
            </div>
            <div class="display-flex mg-10">
              <input type="checkbox" name="" id="" class="checkbox" />
              <span>Price: Low → High</span>
            </div>
            <div class="display-flex mg-10">
              <input type="checkbox" name="" id="" class="checkbox" />
              <span>Price: High → Low</span>
            </div>
          </div>
          <div class="nav_item-img">
            <img src="../../assets/image/chevron-down.svg" alt="" />
          </div>
        </div>

        <div class="nav_item icon_down-top accordion_item">
          <div class="nav_item-patterns">
            <a href="#">
              <h3 class="links_name">Year of manufacturing</h3>
            </a>
            <div class="display-flex mg-10">
              <input type="checkbox" name="" id="" class="checkbox" />
              <span>1954</span>
            </div>
            <div class="display-flex mg-10">
              <input type="checkbox" name="" id="" class="checkbox" />
              <span>1955</span>
            </div>
            <div class="display-flex mg-10">
              <input type="checkbox" name="" id="" class="checkbox" />
              <span>1956</span>
            </div>
            <div class="display-flex mg-10">
              <input type="checkbox" name="" id="" class="checkbox" />
              <span>1957</span>
            </div>
            <div class="display-flex mg-10">
              <input type="checkbox" name="" id="" class="checkbox" />
              <span>1958</span>
            </div>
            <div class="display-flex mg-10">
              <input type="checkbox" name="" id="" class="checkbox" />
              <span>1959</span>
            </div>
            <div class="display-flex mg-10">
              <input type="checkbox" name="" id="" class="checkbox" />
              <span>1960</span>
            </div>
            <div class="display-flex mg-10">
              <input type="checkbox" name="" id="" class="checkbox" />
              <span>1961</span>
            </div>
            <div class="display-flex mg-10">
              <input type="checkbox" name="" id="" class="checkbox" />
              <span>1962-2020</span>
            </div>
          </div>
          <div class="nav_item-img">
            <img src="../../assets/image/chevron-down.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>